process {
    withName: 'predictBiophysicalFeatures' {
        container = 'quay.io/biocontainers/b2btools:3.0.5--pyhdfd78af_0'
    }

    withName: 'buildMultipleSequenceAlignment' {
        container = 'pegi3s/clustalomega:latest'
    }

    withName: 'buildPhylogeneticTree' {
        container = 'pegi3s/fasttree:latest'
    }

    withName: 'buildLogo' {
        container = 'quay.io/biocontainers/weblogo:3.7.9--pyhdfd78af_0'
    }

    withName: 'plotBiophysicalFeatures' {
        container = 'quay.io/biocontainers/b2btools:3.0.5--pyhdfd78af_0'
    }

    withName: 'plotPhylogeneticTree' {
        container = 'bhntools/dockerete:latest'
    }

    withName: 'formatFunPdbePrediction' {
        container = 'quay.io/biocontainers/biopython:1.75'
    }

    withName: 'validateFunPdbePrediction' {
        container = 'diazadriang/funpdbe-validator:1.1.1d'
    }

    withName: 'buildFastaFromPdb' {
        container = 'quay.io/biocontainers/biopython:1.75'
    }

    withName: 'extractPdb' {
        container = 'python:3.11-alpine'
    }
}

profiles {
    standard {
        process {
            executor = 'local'
            cpus = 6
            queueSize = 250
            killBatchSize = 250
            memory = '4 GB'
        }
    }

    zauron {
        process {
            executor = 'local'
        }
    }

    hydra {
        process {
            executor = 'slurm'
            cpus = 2
            memory = '3 GB'
            scratch = '/scratch/brussel/vo/000/bvo00023'
            queueSize = 64
            submitRateLimit = '32sec'
            killBatchSize = 64
            queue = 'skylake'
            time = '2h'
        }
    }

    withdocker {
        docker.enabled = true
        singularity.enabled = false

        docker.temp = 'auto'
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }

    withsingularity {
        docker.enabled = false
        singularity.enabled = true

        singularity.runOptions = "-B /run"
    }
}
