profiles {
    standard {
        process {
            executor = 'local'

            withName: 'predictBiophysicalFeatures' {
                container = 'quay.io/biocontainers/b2btools:3.0.5--pyhdfd78af_0'
            }
            
        }
    }
    
    zauron {
        process {
            executor = 'local'

            withName: 'predictBiophysicalFeatures' {
                container = 'quay.io/biocontainers/b2btools:3.0.5--pyhdfd78af_0'
                maxForks = 8
                memory = 4.GB
            }
        }
    }

    hydra {
        process {
            executor = 'slurm'

            withName: 'predictBiophysicalFeatures' {
                container = 'quay.io/biocontainers/b2btools:3.0.5--pyhdfd78af_0'
                maxForks = 6
                cpus = 8
                memory = 16.GB
                queue = 'broadwell'
            }

        }
    }

    withdocker {
        docker.enabled = true
        singularity.enabled = false

        docker.temp = 'auto'
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }

    withsingularity {
        docker.enabled = false
        singularity.enabled = true

        singularity.runOptions = "-B /run"
    }
}
